Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: quarterly   # Strict version control; manual `pre-commit autoupdate` PR when needed

repos:
  # ESLint (use local config)
  - repo: local
    hooks:
      - id: eslint
        name: eslint (ts/tsx/js/jsx)
        entry: npx eslint
        language: system
        files: \.(ts|tsx|js|jsx)$
        args:
          - "--fix"
          - "--max-warnings=20"  # keep consistent with local package.json

  # Prettier (use local config)
  - repo: local
    hooks:
      - id: prettier
        name: prettier (code + config)
        entry: npx prettier
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        args:
          - "--write"

  # TypeScript type check
  - repo: local
    hooks:
      - id: tsc
        name: typescript type check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args:
          - "--noEmit"
        pass_filenames: false

chore: update pre-commit
  .pre-commit-config.yaml
Due: none

feat: udpate pre-commit
  .pre-commit-config.yaml
Due: none

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

chore: add pre commit config
  .pre-commit-config.yaml
Due: none

Update src/components/ContentRender/plugins_bac/remark-custom-variable.ts
  src/components/ContentRender/plugins_bac/remark-custom-variable.ts
Due: eslint, prettier, tsc

chore: remove comments in no-English
  src/components/ContentRender/plugins_bac/remark-custom-variable.ts
Due: eslint, prettier, tsc

feat: configure ESLint, Prettier, Husky + lint-staged for code quality
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/plugins_bac/remark-custom-button.ts
  src/components/ContentRender/plugins_bac/remark-custom-variable.ts
  src/components/ContentRender/useTypewriter.ts
  src/components/ContentRender/useTypewriterStream.ts
  src/components/ContentRender/utils/process-markdown.ts
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
  src/components/Playground/Playground.tsx
  src/components/Playground/useMarkdownInfo.ts
  src/components/sse/useSSE.ts
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/pages/api/hello.ts
  tsconfig.build.json
  tsconfig.json
  vite.config.js
  vitest.config.ts
Due: eslint, prettier, tsc

feat: update version
  package.json
  pnpm-lock.yaml
Due: prettier

docs: add comprehensive agent configuration and development guide
  .cursorrules
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: prettier

chore: update ESLint rules - disable react-hooks/exhaustive-deps and prohibit console.log
  eslint.config.mjs
Due: none

chore: add cz conf
  README.md
  cz.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update git ignore
  .gitignore
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

chore: add CONTRIBUTING.md and other docs
  API.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  INSTALL_MANUAL.md
  TESTING.md
Due: prettier

chore: update readme md
  README.md
  README_ZH-CN.md
Due: prettier

chore: update README.md README_ZH-CN.md
  README.md
  README_ZH-CN.md
Due: prettier

docs: remove redundant documentation files
  API.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  INSTALL_MANUAL.md
  README.md
  README_ZH-CN.md
  TESTING.md
Due: prettier

docs: remove Contributing section from README files
  README.md
  README_ZH-CN.md
Due: prettier

chore: add .github/instructions/agents.instructions.md
  .github/instructions/agents.instructions.md
Due: prettier

docs: update README with MarkdownFlow introduction and API reference
  API.md
  README.md
  README_ZH-CN.md
Due: prettier

chore: fix eslint errors
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/ContentRender/plugins_bac/CustomVariable.tsx
  src/components/ContentRender/plugins_bac/remark-custom-variable.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/Playground/Playground.tsx
  src/components/sse/useSSE.ts
Due: eslint, prettier, tsc

chore: format files with npm format
  AGENTS.md
  README.md
  README_ZH-CN.md
  tsconfig.build.json
  tsconfig.json
Due: prettier

docs: center badges and improve README header
  README.md
  README_ZH-CN.md
Due: prettier

fix: use style attribute instead of align for HTML div
  README.md
  README_ZH-CN.md
Due: prettier

docs: simplify AI wording in descriptions
  README.md
  README_ZH-CN.md
Due: prettier

fix: use align attribute for GitHub compatibility
  README.md
  README_ZH-CN.md
Due: prettier

docs: update AI-Shifu logo links in README files
  README.md
  README_ZH-CN.md
Due: prettier

docs: update Chinese README AI-Shifu link text to match href
  README_ZH-CN.md
Due: prettier

docs: update Chinese README alt text to Chinese
  README_ZH-CN.md
Due: prettier

feat: add markdownlint integration for consistent markdown formatting
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  README_ZH-CN.md
  package-lock.json
  package.json
Due: prettier

fix: correct mermaid code block formatting in README files
  README.md
  README_ZH-CN.md
Due: prettier

fix: remove remaining empty code blocks in README files
  README_ZH-CN.md
Due: prettier

fix: disable MD046 rule to prevent nested code block issues
  .markdownlint.yaml
Due: none

fix: align markdownlint configuration with ai-shifu reference
  .markdownlint.yaml
  .pre-commit-config.yaml
  package.json
Due: prettier

fix: correct markdown file structure issues in README files
  README.md
  README_ZH-CN.md
Due: prettier

feat: add the release of the github action npmjs version
  .cursorrules 2
  .github/workflows/publish.yml
  .husky/pre-commit
  .markdownlint.yaml
  .versionrc.json
  CHANGELOG.md
  cz.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier

feat: add the release of the github action npmjs version (#21)
  .cursorrules 2
  .github/workflows/publish.yml
  .husky/pre-commit
  .markdownlint.yaml
  .versionrc.json
  CHANGELOG.md
  cz.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier

chore: fix eslint errors (#16)
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/ContentRender/plugins_bac/CustomVariable.tsx
  src/components/ContentRender/plugins_bac/remark-custom-variable.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/Playground/Playground.tsx
  src/components/sse/useSSE.ts
Due: eslint, prettier, tsc

chore: format code with consistent style and fix TypeScript interface syntax
  README.md
  README_ZH-CN.md
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
Due: prettier
