Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

feat: hide fixed text & divider
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: update story
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
Due: eslint, prettier

fix: scale is null
  package.json
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: default video title
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: variableSelect support system variable
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

feat: init variable
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

fix: useState error
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

style: placeholder & hover style
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
Due: eslint, prettier

style: autocomplete
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: revert
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: update version
  package.json
Due: none

feat: lock react
  package.json
  pnpm-lock.yaml
Due: none

fix: react & react dom version mismatch
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
Due: eslint, prettier

feat: change placeholder
  package.json
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: prettier

feat: support custom button after content (#39)
  pnpm-lock.yaml
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

Aichy/multi selection interaction to main (#41)
  package-lock.json
  pnpm-lock.yaml
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

feat: add pkg
  package.json
  pnpm-lock.yaml
Due: none

feat: version
  package.json
Due: none

fix: ai advice
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
Due: eslint, prettier

feat: cook editor & some shortcut (#42)
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/assets/icon_fixedText.svg
  src/components/MarkdownFlowEditor/assets/icon_image.svg
  src/components/MarkdownFlowEditor/assets/icon_line.svg
  src/components/MarkdownFlowEditor/assets/icon_operation.svg
  src/components/MarkdownFlowEditor/assets/icon_variable.svg
  src/components/MarkdownFlowEditor/assets/icon_video.svg
  src/components/MarkdownFlowEditor/assets/line_header.svg
  src/components/MarkdownFlowEditor/components/CustomDialog.tsx
  src/components/MarkdownFlowEditor/components/CustomPopover.tsx
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/editor-context.ts
  src/components/MarkdownFlowEditor/index.ts
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/DividerPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/FixedTextPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/ImgPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/plugins/VariablePlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/uploadTypes.ts
  src/components/MarkdownFlowEditor/utils.ts
  src/components/MarkdownFlowEditor/utils/image.ts
  src/components/index.ts
  src/components/ui/popover.tsx
  src/index.ts
  src/styles/globals.css
Due: eslint, prettier

feat: export css
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/styles/library.css
  tailwind.build.config.ts
Due: eslint, prettier

fix
  package.json
Due: none

fix: build script
  package.json
Due: none

feat: add new variable
  package.json
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

feat: codeedit allow to quickedit
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

fix: resolve pr conversation
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
Due: eslint, prettier

feat: change react-i18next verison
  package.json
  pnpm-lock.yaml
Due: none

feat: slashCommandsExtension use in all mode & export mdf-ui-lib.css use in tailwind v4 (#43)
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/styles/library.css
  tailwind.build.config.ts
Due: eslint, prettier

feat: markdown highlight
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: revert markdown highlight & use "Preview" replace "Run" (#44)
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: update package version (#45)
  package.json
Due: none

feat: enter {{}} match variable list
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

feat: enter {{variableName}} match variable list (#46)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

feat: support more code language
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/utils/highlight-languages.ts
Due: eslint, prettier

feat: support more code language (#47)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/utils/highlight-languages.ts
Due: eslint, prettier

feat: add toml highlight
  package.json
  src/components/ContentRender/utils/highlight-languages.ts
Due: eslint, prettier

feat: add lua & php highlight
  src/components/ContentRender/utils/highlight-languages.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
