Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

fix: ui
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: update react & next version
  package.json
  pnpm-lock.yaml
Due: none

fix: update version
  package.json
Due: none

fix: update version (#67)
  package.json
  pnpm-lock.yaml
Due: none

fix: update version (#68)
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: restore single select props and add fallback button rendering
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix: restore single select props and add fallback button rendering (#69)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix(editor): keep quick edit cursor inside variable braces
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/plugins/VariablePlaceholder.ts
Due: eslint, prettier

fix: version
  package.json
Due: none

fix(editor): keep quick edit cursor inside variable braces (#70)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/plugins/VariablePlaceholder.ts
Due: eslint, prettier

feat: add code block showcase story for content render
  src/components/ContentRender/ContentRender.stories.ts
Due: eslint, prettier

fix: disable processMarkdownText
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

fix: the \n in the code block should not be a newline. (#71)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: add copy icon
  src/components/ContentRender/CodeBlock.css
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: add language name
  src/components/ContentRender/CodeBlock.tsx
Due: eslint, prettier

fix: ui
  src/components/ContentRender/CodeBlock.css
Due: prettier

feat: add copy button text
  package.json
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/MarkdownFlow.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
Due: eslint, prettier

fix: pr advice
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: update version
  package.json
Due: none

feat: code support copy (#73)
  package.json
  src/components/ContentRender/CodeBlock.css
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/MarkdownFlow.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
Due: eslint, prettier

feat: add toolbar shortcuts to markdown editor
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: insert braces when toolbar variable icon is clicked
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
Due: eslint, prettier

feat: merge variable actions into dropdown button
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/VariableSearchDropdown.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: ui
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: close variable list
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: ui
  src/components/MarkdownFlowEditor/components/VariableSearchDropdown.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: split variable actions into dedicated toolbar icons
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/icons/SearchBracesIcon.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/icons/SearchBracesIcon.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: ui
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
Due: eslint, prettier

feat: add fixed text
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: add link
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

fix: text
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: add button
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/icons/ButtonIcon.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: add single choice
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: add multi select
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

feat: add input
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
