Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

ci:
  skip: [eslint] # Skip ESLint hooks in pre-commit.ci since it does not work
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: ^pnpm-lock\.yaml$
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: ^pnpm-lock\.yaml$
      - id: trailing-whitespace
        exclude: ^pnpm-lock\.yaml$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
        additional_dependencies: ["markupsafe==2.0.1"]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: prettier
        name: Prettier
        entry: prettier
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
        args: ["--write"]
        additional_dependencies: ["prettier@^3.5.3"]
        pass_filenames: true

chore: update custom button with image icon
  package.json
  src/components/ContentRender/ContentRender.stories.ts
Due: eslint, prettier

chore: align custom button content with flex wrapper
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: version
  package.json
Due: none

fix: update custom button with image icon (#95)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: add horizontal scrolling for svg render
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: center svg within scroll container
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: svg margin
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: version
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: add horizontal scrolling for svg render (#96)
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: ui
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: svg width should be 100% (#97)
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: localize markdown css to drop first-child margin reset
  package.json
  src/components/ContentRender/github-markdown-light.css
  src/components/ContentRender/github-markdown.css
Due: prettier

fix: localize markdown css to drop first-child margin reset (#98)
  package.json
  src/components/ContentRender/github-markdown-light.css
  src/components/ContentRender/github-markdown.css
Due: prettier

fix: ui
  package.json
  src/components/ContentRender/github-markdown.css
Due: prettier

fix: ui (#99)
  package.json
  src/components/ContentRender/github-markdown.css
Due: prettier

fix: center svg while keeping horizontal scroll
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: center svg while keeping horizontal scroll (#100)
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: make viewBox-only svg resize responsively with aspect ratio
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

feat: version
  package.json
Due: none

fix: make viewBox-only svg resize responsively with aspect ratio (#101)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: normalize inline html indentation to prevent rendering errors
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/normalize-inline-html.ts
Due: eslint, prettier

fix: normalize inline html indentation to prevent rendering errors (#102)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/normalize-inline-html.ts
Due: eslint, prettier

fix
  package.json
Due: none

fix: update version (#103)
  package.json
Due: none

feat: add html story
  src/components/ContentRender/ContentRender.stories.tsx
Due: eslint, prettier

feat: add optional variable hiding UI
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

feat: render html content in iframe sandbox inside ContentRender
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

refactor: dedupe variable list rendering
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

fix: end iframe sandbox at first non-html block after blank line
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
Due: eslint, prettier

refactor: extract shared markdown renderer component
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
  vite.config.js
Due: eslint, prettier

feat: simulate streaming html demo content
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
Due: eslint, prettier

fix: prevent iframe sandbox root teardown during streaming updates
  src/components/ContentRender/IframeSandbox.tsx
Due: eslint, prettier

feat: add configurable loading overlay for streaming iframe content
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

fix: defer iframe script execution until full script tags arrive
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

feat: enhance sandbox loading feedback and fullscreen control
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

feat: reuse splitContentSegments and filter markdown in iframe sandbox
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/utils/split-content.ts
Due: eslint, prettier

fix: re-enable style and script loading overlay during streaming updates
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

feat: export iframesandbox
  package.json
  src/components/ContentRender/index.ts
Due: eslint, prettier

fix: ui
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier
