Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

ci:
  skip: [eslint] # Skip ESLint hooks in pre-commit.ci since it does not work
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: ^pnpm-lock\.yaml$
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: ^pnpm-lock\.yaml$
      - id: trailing-whitespace
        exclude: ^pnpm-lock\.yaml$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
        additional_dependencies: ["markupsafe==2.0.1"]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: prettier
        name: Prettier
        entry: prettier
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
        args: ["--write"]
        additional_dependencies: ["prettier@^3.5.3"]
        pass_filenames: true

fix: jump to appended markers immediately for silent streaming steps
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/useSlide.ts
  src/components/Slide/utils/streamingNavigation.test.ts
  src/components/Slide/utils/streamingNavigation.ts
Due: eslint, prettier

fix: auto-advance when streaming markers arrive after step completion
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.tsx
  src/components/Slide/useSlide.ts
  src/components/Slide/utils/appendedMarkerAdvance.test.ts
  src/components/Slide/utils/appendedMarkerAdvance.ts
  src/components/Slide/utils/streamingNavigation.test.ts
  src/components/Slide/utils/streamingNavigation.ts
Due: eslint, prettier

fix: update version
  package.json
Due: none

fix: jump to appended markers immediately after resolved interactions (#139)
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/useSlide.ts
  src/components/Slide/utils/appendedMarkerAdvance.test.ts
  src/components/Slide/utils/appendedMarkerAdvance.ts
  src/components/Slide/utils/streamingNavigation.test.ts
  src/components/Slide/utils/streamingNavigation.ts
Due: eslint, prettier

feat(editor): wrap inserted image and video output with fixed markers
  package.json
  skills/README.md
  skills/editor-media-fixed-output/SKILL.md
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/ImgPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat(editor): wrap inserted image and video output with fixed markers (#140)
  package.json
  skills/README.md
  skills/editor-media-fixed-output/SKILL.md
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/ImgPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: add stream inactivity timeout handling for slide listen mode
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/constants.ts
  src/components/Slide/index.ts
  src/components/index.ts
Due: eslint, prettier

feat(slide): add buffering visibility logs for loading transitions
  package.json
  skills/content-render-loading-overlay/SKILL.md
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: expose slide buffering control through onError
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.tsx
Due: eslint, prettier

revert: keep only stuck fixture slide story changes
  skills/content-render-loading-overlay/SKILL.md
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/constants.ts
  src/components/Slide/index.ts
  src/components/index.ts
Due: eslint, prettier

feat: add slide and content render toggle to stuck speakable SSE story
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.stories.tsx
Due: eslint, prettier

fix: show stuck SSE timeout as story alert instead of slide element
  package.json
  skills/content-render-loading-overlay/SKILL.md
  skills/slide-story-streaming/SKILL.md
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

feat: update version
  package.json
Due: none

feat: add stream inactivity timeout handling for slide listen mode (#141)
  package.json
  skills/content-render-loading-overlay/SKILL.md
  skills/slide-story-streaming/SKILL.md
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: subtitle ui
  package.json
  src/components/Slide/subtitle-overlay.css
Due: prettier

fix: version
  package.json
Due: none

fix: subtitle ui (#142)
  package.json
  src/components/Slide/subtitle-overlay.css
Due: prettier

fix(slide): keep desktop subtitle spacing aligned with player offset
  package.json
  skills/slide-display-preload/SKILL.md
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/subtitle-overlay.css
Due: eslint, prettier

fix(slide): preserve fullscreen wake interactions while expanding overlay height
  skills/slide-display-preload/SKILL.md
  skills/slide-mobile-player-custom-action-slot/SKILL.md
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/slide.css
Due: eslint, prettier

fix(slide): align fullscreen subtitle bounds with content padding
  skills/slide-display-preload/SKILL.md
  skills/slide-mobile-player-custom-action-slot/SKILL.md
  src/components/Slide/slide.css
  src/components/Slide/subtitle-overlay.css
  src/styles/globals.css
Due: prettier

fix(slide): remove interaction overlay max-height constraints
  skills/slide-display-preload/SKILL.md
  src/components/Slide/player.css
Due: prettier

fix(slide): remove fullscreen entry hint on mobile
  package.json
  skills/slide-mobile-player-custom-action-slot/SKILL.md
  src/components/Slide/Slide.tsx
Due: eslint, prettier

feat: align slide subtitles with player offset in desktop fullscreen
  package.json
  skills/slide-display-preload/SKILL.md
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/subtitle-overlay.css
Due: eslint, prettier

feat: update mdf-uio
  package.json
Due: none

fix: keep completed slide audio url during segment playback
  package.json
  skills/slide-display-preload/SKILL.md
  src/components/Slide/useSlide.test.ts
  src/components/Slide/useSlide.ts
Due: eslint, prettier

feat: upgrade ui (#143)
  package.json
  skills/slide-display-preload/SKILL.md
  skills/slide-mobile-player-custom-action-slot/SKILL.md
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/slide.css
  src/components/Slide/subtitle-overlay.css
  src/components/Slide/useSlide.test.ts
  src/components/Slide/useSlide.ts
  src/styles/globals.css
Due: eslint, prettier

feat: add slide text audio subtitle sync debug story
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.stories.tsx
Due: eslint, prettier

fix
  src/components/Slide/Slide.stories.tsx
Due: eslint, prettier

feat(listen-mode): add reason-specific buffering messages for slide audio loading
  package.json
  skills/content-render-loading-overlay/SKILL.md
  skills/slide-display-preload/SKILL.md
  src/components/Slide/Player.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix(slide): resume appended in-step audio before auto-advancing
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/playbackSequence.test.ts
  src/components/Slide/utils/playbackSequence.ts
Due: eslint, prettier

Revert "fix(slide): resume appended in-step audio before auto-advancing"
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/playbackSequence.test.ts
  src/components/Slide/utils/playbackSequence.ts
Due: eslint, prettier

fix(slide): auto advance when recovered audio url is already seeked to the end
  package.json
  skills/slide-display-preload/SKILL.md
  src/components/Slide/Player.tsx
  src/components/Slide/utils/audioCompletion.test.ts
  src/components/Slide/utils/audioCompletion.ts
Due: eslint, prettier

fix(slide): auto advance when recovered audio url is already seeked to the end (#145)
  package.json
  skills/content-render-loading-overlay/SKILL.md
  skills/slide-display-preload/SKILL.md
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Player.tsx
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/audioCompletion.test.ts
  src/components/Slide/utils/audioCompletion.ts
Due: eslint, prettier

fix(slide): stabilize streaming audio source selection
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Player.tsx
  src/components/Slide/utils/playbackSource.test.ts
  src/components/Slide/utils/playbackSource.ts
Due: eslint, prettier

fix: version
  package.json
  skills/slide-story-streaming/SKILL.md
Due: none

fix(slide): stabilize streaming audio source selection (#146)
  package.json
  skills/slide-story-streaming/SKILL.md
  src/components/Slide/Player.tsx
  src/components/Slide/utils/playbackSource.test.ts
  src/components/Slide/utils/playbackSource.ts
Due: eslint, prettier

fix: Fixed scrollbar issue in sandbox containers
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

refactor: remove typewriter rendering flow from markdown-flow-ui
  package.json
  skills/content-render-first-paint/SKILL.md
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/index.ts
  src/components/ContentRender/useTypewriter.ts
  src/components/ContentRender/useTypewriterStateMachine.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier
