Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

fix: ui
  package.json
  src/assets/icons/send_enable.svg
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix: prevent enter submit while ime is composing
  package.json
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix: line-height
  src/components/ContentRender/contentRender.css
Due: prettier

fix: centralize markdownflowinput enter send logic
  package.json
  src/components/ContentRender/MarkdownFlowInput.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix: media
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: ui
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: line-height
  package.json
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: ui
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: pr advice
  package.json
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

feat: ui upgrade (#57)
  .storybook/main.ts
  components.json
  package.json
  src/assets/icons/send_disable.svg
  src/assets/icons/send_enable.svg
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/MarkdownFlowInput.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/ui/checkbox.tsx
  src/components/ui/inputGroup/input-group.tsx
  src/styles/globals.css
  tsconfig.json
  vite.config.js
Due: eslint, prettier

fix: ui
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/styles/globals.css
Due: eslint, prettier

fix: font-weight
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/styles/globals.css
Due: eslint, prettier

feat: version
  package.json
Due: none

fix: font use Inter (#58)
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/styles/globals.css
Due: eslint, prettier

fix: ui
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: editor font ui (#59)
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

chore: ship inter font assets with markdown-flow-ui build
  package.json
  scripts/copy-fonts.mjs
Due: none

fix: version
  package.json
Due: none

chore: ship inter font assets with markdown-flow-ui build (#60)
  package.json
  scripts/copy-fonts.mjs
Due: none

fix: primary color
  package.json
  src/assets/icons/send_enable.svg
  src/styles/globals.css
Due: prettier

fix: primary color (#61)
  package.json
  src/assets/icons/send_enable.svg
  src/styles/globals.css
Due: prettier

fix: mermaid rerender
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/MermaidChart.tsx
Due: eslint, prettier

fix: finish mermaid will render immediately
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

fix: mermaid
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/MermaidChart.tsx
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

feat: update version
  package.json
Due: none

fix: pr advice
  src/components/ContentRender/plugins/MermaidChart.tsx
Due: eslint, prettier

fix: mermaid rerender (#62)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/MermaidChart.tsx
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

feat: editor support disabled
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: ui
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

chore: bump markdown-flow-ui version to 0.1.40
  package.json
Due: none

feat: editor add disabled status (#63)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: disabled plugin
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: focus markdown flow input only when empty
  src/components/ContentRender/MarkdownFlowInput.stories.tsx
  src/components/ContentRender/MarkdownFlowInput.tsx
Due: eslint, prettier

fix: disable auto focus when custom variable buttons exist
  package.json
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

fix: align markdown flow input auto focus with default selection
  package.json
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

feat: preventScroll
  package.json
  src/components/ContentRender/MarkdownFlowInput.tsx
Due: eslint, prettier

fix: blur active element before focusing markdown input
  package.json
  src/components/ContentRender/MarkdownFlowInput.tsx
Due: eslint, prettier

feat: reposition multi-select confirm button layout
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

feat: reposition multi-select confirm button layout (#65)
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/CustomVariable.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
