Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

fix: prevent sandbox parsing inside fenced code blocks
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/utils/split-content.ts
Due: eslint, prettier

fix(build): output es and cjs bundles to match package exports
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

feat: update version
  package.json
Due: none

fix(build): output es and cjs bundles to match package exports (#107)
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

fix
  package.json
Due: none

feat(markdown-flow-ui): detect markdown image segments in splitContentSegments
  package.json
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(markdown-flow-ui): apply mobile justify via contentRender media query
  package.json
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: ui
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

feat: render html content in iframe sandbox (#108)
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
  src/components/ContentRender/index.ts
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  src/renderer.ts
  tests/unit/content-render/split-content.test.ts
  vitest.config.ts
Due: eslint, prettier

fix: treat percent/auto svg sizes as responsive for viewBox layout
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

fix: treat percent/auto svg sizes as responsive for viewBox layout (#109)
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

chore: rebase feat/html_v2 onto upstream/main and restore missing diffs
  package.json
Due: none

chore: rebase feat/html_v2 onto upstream/main and restore missing diffs (#111)
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): relax svg sizing detection for responsive layout
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

fix(iframe-sandbox): honor explicit root height before fallback sizing
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/IframeSandbox.tsx
Due: eslint, prettier

feat: apply mobile auto height rule for root vh content
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

fix: center sandbox svg and image blocks
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

fix: version
  package.json
Due: none

fix(iframe-sandbox): honor explicit root height before fallback sizing (#112)
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SandboxApp.tsx
Due: eslint, prettier

fix: sanitize invalid html tag names before render
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/sanitize-invalid-tag-name.ts
Due: eslint, prettier

fix: sanitize invalid html tag names before render (#114)
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/sanitize-invalid-tag-name.ts
Due: eslint, prettier

fix: strip svg text br safely and avoid fragment input
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/strip-svg-text-line-breaks.ts
Due: eslint, prettier

fix: strip svg text br safely and avoid fragment input (#115)
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/strip-svg-text-line-breaks.ts
Due: eslint, prettier

fix(content-render): align remaining split-content segmentation for callout, html, svg, video and trailing text
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/SplitContent.stories.tsx
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

feat: update version
  package.json
  src/components/ContentRender/SplitContent.stories.tsx
Due: eslint, prettier

fix(content-render): preserve markdown heading after table and keep svg syntax inside table cells
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/SplitContent.stories.tsx
  src/components/ContentRender/utils/mermaid-parse.test.ts
  src/components/ContentRender/utils/mermaid-parse.ts
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): use safe center alignment for iframe sandbox container
  package.json
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix(content-render): use safe center alignment for iframe sandbox container (#117)
  package.json
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

``` feat: Add DaisyUI and GSAP library support
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/blackboard-vendor.ts
  src/components/ContentRender/vendor/daisyui-v4.min.css
  src/components/ContentRender/vendor/gsap-v3.min.js
  src/components/ContentRender/vendor/tailwindcss-v3.min.js
  src/components/ContentRender/vendor/vendor.d.ts
Due: eslint, prettier

fix(content-render): normalize quoted mermaid payload to preserve text-markdown-text segmentation
  package.json
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): prioritize fenced code splitting before svg and normalize leading text for keepText mode
  Bn
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): refine splitContentSegments matching for video iframe and table-prefix recursion
  package.json
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): split markdown images before svg blocks in keepText mode
  package.json
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

fix(content-render): split markdown images before svg blocks in keepText mode (#118)
  Bn
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/split-content.test.ts
  src/components/ContentRender/utils/split-content.ts
  tests/unit/content-render/split-content.test.ts
Due: eslint, prettier

chore(release): Upgrade version number from 0.1.92-beta.1 to 0.1.93
  package.json
Due: none

feat: Add DaisyUI and GSAP library support (#119)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/IframeSandbox.tsx
  src/components/ContentRender/blackboard-vendor.ts
  src/components/ContentRender/vendor/daisyui-v4.min.css
  src/components/ContentRender/vendor/gsap-v3.min.js
  src/components/ContentRender/vendor/tailwindcss-v3.min.js
  src/components/ContentRender/vendor/vendor.d.ts
Due: eslint, prettier

fix(content-render): unify iframe sandbox template and always inject daisyui vendor across modes
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/IframeSandbox.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
