Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

fix: ui
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/icons/ButtonIcon.tsx
Due: eslint, prettier

fix: ui
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: add tooltio
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/ui/tooltip.tsx
Due: eslint, prettier

feat: show toolbar tooltips above icons
  package.json
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/ui/tooltip.tsx
Due: eslint, prettier

fix: pr advice
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

fix: version
  package.json
Due: none

feat: fix toolbar
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: add toolbar in editor (#74)
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/components/VariableSearchDropdown.tsx
  src/components/MarkdownFlowEditor/components/icons/ButtonIcon.tsx
  src/components/MarkdownFlowEditor/components/icons/SearchBracesIcon.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/ui/tooltip.tsx
Due: eslint, prettier

fix: update version (#75)
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix(video): ensure bilibili embeds use player url and keep original sources
  package.json
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/utils.ts
  src/components/MarkdownFlowEditor/utils/video.ts
Due: eslint, prettier

fix: pr advice
  package.json
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/utils.ts
  src/components/MarkdownFlowEditor/utils/video.ts
Due: eslint, prettier

fix(video): ensure bilibili embeds use player url and keep original sources (#76)
  package.json
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/utils.ts
  src/components/MarkdownFlowEditor/utils/video.ts
Due: eslint, prettier

feat: add svg story
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: add quoted variable insertion templates
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

fix: set cursor at end after inserting existing variable
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

feat: add quoted variable insertion templates (#77)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

feat: render inline svg blocks via shadow dom
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

fix: simplify shadow dom rendering for svg blocks
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: update version
  package.json
  src/components/ContentRender/ContentRender.stories.ts
Due: eslint, prettier

fix: support progressive svg rendering during streaming
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

feat: add loading
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

feat: delete svg loading
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

fix: svg in code block
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

fix: verison
  package.json
Due: none

fix: pr advice
  package.json
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: contentRender component support svg (#78)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/utils/mermaid-parse.ts
Due: eslint, prettier

fix: remove quotes from variable insertion template
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

feat: delete Inter font
  package.json
  src/styles/globals.css
Due: prettier

fix: inter font
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

fix: remove quotes from variable insertion template (#79)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/styles/globals.css
Due: eslint, prettier

fix: cursor color is transparent
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: update ui
  package.json
Due: none

fix: cursor color is transparent (#80)
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: markdown body width is 100%
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: markdown body width is 100% (#81)
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

fix: disable bilibili embed autoplay for new
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/utils/video.ts
Due: eslint, prettier

fix: disable bilibili embed autoplay for new (#82)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/utils/video.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
