Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

chore: clean vite declaration diagnostics
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/Slide/diff-utils.ts
  src/components/Slide/types.ts
  src/components/ui/inputGroup/textarea.tsx
  vite.config.js
Due: eslint, prettier

fix: reset subtitles when interactions collapse
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

test: cover collapsible interactions
  package-lock.json
  package.json
  src/components/Slide/MobilePlayerSettingsSheet.tsx
  src/components/Slide/Player.tsx
  src/components/Slide/Slide.interactionCollapse.test.tsx
  src/components/Slide/Slide.tsx
  vitest.config.ts
Due: eslint, prettier

feat: keep lesson interactions movable
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

fix: clean declaration build diagnostics
  src/components/ui/inputGroup/input-group.tsx
  src/vite-env.d.ts
Due: eslint, prettier

Revert "feat: keep lesson interactions movable"
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

revert: keep lesson interactions fixed
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

Revert "revert: keep lesson interactions fixed"
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

test: cover slide pointer drag flows
  src/components/Slide/Slide.stories.tsx
Due: eslint, prettier

feat: keep lesson interactions movable (#202)
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
  src/components/Slide/utils/interactionPlayback.test.ts
  src/components/Slide/utils/interactionPlayback.ts
Due: eslint, prettier

chore: release markdown-flow-ui 0.2.4 (#204)
  package-lock.json
  package.json
Due: none

fix: restore clickable interaction cards
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
Due: eslint, prettier

fix: expand interaction drag area without shifting layout
  src/components/Slide/player.css
Due: prettier

fix: restore clickable interaction cards (#205)
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
Due: eslint, prettier

chore: release markdown-flow-ui 0.2.5 (#206)
  package-lock.json
  package.json
Due: none

chore: clean vite declaration diagnostics (#199)
  src/components/ContentRender/CodeBlock.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/Slide/diff-utils.ts
  src/components/Slide/types.ts
  src/components/ui/inputGroup/input-group.tsx
  src/components/ui/inputGroup/textarea.tsx
  src/vite-env.d.ts
  vite.config.js
Due: eslint, prettier

feat: enlarge classroom interaction overlays
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/index.ts
  src/components/Slide/player.css
  src/components/index.ts
Due: eslint, prettier

fix: scope enlarged overlays to classroom mode
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
  src/components/Slide/index.ts
  src/components/Slide/player.css
  src/components/index.ts
Due: eslint, prettier

feat: make interaction drag handles easier to spot
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
Due: eslint, prettier

feat: make interaction drag handles easier to spot (#208)
  src/components/Slide/Slide.tsx
  src/components/Slide/player.css
Due: eslint, prettier

fix: keep input actions aligned in wide containers
  src/components/ContentRender/MarkdownFlowInput.stories.tsx
  src/components/ContentRender/contentRender.css
  src/components/ui/inputGroup/input-group.tsx
Due: eslint, prettier

fix: keep wide input checks responsive
  src/components/ContentRender/MarkdownFlowInput.stories.tsx
Due: eslint, prettier

fix: keep input actions aligned in wide containers (#209)
  src/components/ContentRender/MarkdownFlowInput.stories.tsx
  src/components/ContentRender/contentRender.css
  src/components/ui/inputGroup/input-group.tsx
Due: eslint, prettier

chore: release markdown-flow-ui 0.2.6 (#210)
  package-lock.json
  package.json
Due: none

fix: keep mobile viewport changes from stale state
  src/components/Slide/Slide.stories.tsx
  src/lib/mobileDevice.test.ts
  src/lib/mobileDevice.ts
Due: eslint, prettier

fix: keep mobile slide inputs focused during keyboard resize
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/Slide/Slide.stories.tsx
  src/lib/mobileDevice.test.ts
  src/lib/mobileDevice.ts
Due: eslint, prettier

fix: keep interaction inputs stable during updates
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/Slide/Slide.stories.tsx
  src/lib/mobileDevice.test.ts
  src/lib/mobileDevice.ts
Due: eslint, prettier

test: cover keyboard height resize without orientation change
  src/lib/mobileDevice.test.ts
Due: eslint, prettier

fix: keep mobile slide inputs focused during keyboard resize (#211)
  src/components/ContentRender/ContentRender.stories.tsx
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/Slide/Slide.stories.tsx
  src/lib/mobileDevice.test.ts
  src/lib/mobileDevice.ts
Due: eslint, prettier

docs: add release notes for 0.2.7
  CHANGELOG.md
Due: none

chore: release markdown-flow-ui 0.2.7 (#212)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: bump remark-flow to ^1.2.0 for non-assignment interaction shapes
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
Due: eslint, prettier

chore: refresh lockfile for remark-flow 1.2.0
  package-lock.json
Due: none

feat: bump remark-flow to ^1.2.0 for non-assignment interaction shapes (#213)
  package-lock.json
  package.json
  src/components/ContentRender/ContentRender.stories.tsx
Due: eslint, prettier

fix: reset mobile slide overlay drag state
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: reset slide overlay offsets exactly
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: verify mobile slide overlay drag reset
  .github/workflows/lint.yml
  package.json
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: prepare slide overlay fix for release
  .github/workflows/lint.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
