Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

ci:
  skip: [eslint] # Skip ESLint hooks in pre-commit.ci since it does not work
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: ^pnpm-lock\.yaml$
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: ^pnpm-lock\.yaml$
      - id: trailing-whitespace
        exclude: ^pnpm-lock\.yaml$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
        additional_dependencies: ["markupsafe==2.0.1"]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: prettier
        name: Prettier
        entry: prettier
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
        args: ["--write"]
        additional_dependencies: ["prettier@^3.5.3"]
        pass_filenames: true

fix: reset mobile slide overlay drag state (#214)
  .github/workflows/lint.yml
  package-lock.json
  package.json
  src/components/Slide/Slide.stories.tsx
  src/components/Slide/Slide.tsx
Due: eslint, prettier

fix: play step audio that arrives after completion
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/stepAudioProgress.test.ts
  src/components/Slide/utils/stepAudioProgress.ts
Due: eslint, prettier

fix: play step audio that arrives after completion (#215)
  package-lock.json
  package.json
  src/components/Slide/Slide.tsx
  src/components/Slide/utils/stepAudioProgress.test.ts
  src/components/Slide/utils/stepAudioProgress.ts
Due: eslint, prettier

feat: provide reusable scroll-to-bottom controls
  README_ZH-CN.md
  pnpm-lock.yaml
  src/components/MarkdownFlow/ScrollToBottomButton.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
  src/components/MarkdownFlow/index.ts
  src/components/MarkdownFlow/markdownFlow.css
  src/components/MarkdownFlow/useScrollToBottom.test.ts
  src/components/MarkdownFlow/useScrollToBottom.ts
  src/components/index.ts
  src/renderer.ts
Due: eslint, prettier

fix: make published modules consumable
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/styles/library.css
  vite.config.js
Due: eslint, prettier

fix: format scroll control documentation
  README_ZH-CN.md
Due: none

fix: bundle runtime dependencies for consumers
  vite.config.js
Due: none

fix: expose isolated scroll controls entry
  package.json
  src/scroll.ts
  vite.config.js
Due: eslint, prettier

test: cover scroll-to-bottom stories
  .github/workflows/lint.yml
  src/components/MarkdownFlow/ScrollableMarkdownFlow.stories.tsx
Due: eslint, prettier

fix: preserve scroll controls across learner layouts
  .github/workflows/lint.yml
  API_REFERENCE.md
  README_ZH-CN.md
  src/components/MarkdownFlow/ScrollToBottomButton.test.tsx
  src/components/MarkdownFlow/ScrollToBottomButton.tsx
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/ScrollToBottomControl.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.stories.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
  src/components/MarkdownFlow/index.ts
  src/components/MarkdownFlow/markdownFlow.css
  src/components/MarkdownFlow/useScrollToBottom.test.ts
  src/components/MarkdownFlow/useScrollToBottom.ts
  src/components/index.ts
  src/renderer.ts
  src/scroll.ts
  vite.config.js
Due: eslint, prettier

fix: preserve code and math styling in renderer exports
  package.json
  scripts/copy-katex-fonts.mjs
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.stories.tsx
  tests/package/renderer-css.test.mjs
Due: eslint, prettier

fix: keep the existing scrollable markdown component name
  src/components/MarkdownFlow/index.ts
  src/components/index.ts
  src/renderer.ts
  tests/types/scroll-exports.ts
Due: eslint, prettier

refactor: align the scroll button with component conventions
  src/components/MarkdownFlow/ScrollToBottomButton.test.tsx
  src/components/MarkdownFlow/ScrollToBottomButton.tsx
Due: eslint, prettier

fix: show the scroll button keyboard focus ring immediately
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/markdownFlow.css
Due: eslint, prettier

fix: pass only file paths to declaration target checks
  vite.config.js
Due: none

docs: make scroll control examples import their React hook
  API_REFERENCE.md
  README_ZH-CN.md
Due: none

fix: accept React click events in the legacy scroll handler
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: preserve user scroll intent during simultaneous content growth
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: ignore non-scrollable containers when choosing scroll targets
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.test.ts
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: keep embedded markdown scrolling inside its own viewport
  src/components/MarkdownFlow/ScrollableMarkdownFlow.stories.tsx
  src/components/MarkdownFlow/ScrollableMarkdownFlow.tsx
Due: eslint, prettier

fix: follow replacement scroll containers after React updates
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

test: verify scroll button behavior through rendered DOM
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlow/ScrollToBottomButton.test.tsx
Due: eslint, prettier

fix: style scroll controls in both CSS exports
  src/styles/library.css
  tests/package/renderer-css.test.mjs
Due: prettier

fix: restore scroll controls after switching targets
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: honor legacy scroll options without dependencies
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: wait for explicit scroll targets before moving content
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.test.ts
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: keep automatic scrolling immediate with smooth CSS
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: let users interrupt scrolling without being pulled back
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

test: verify built package styles in CI
  .github/workflows/lint.yml
  README.md
  package.json
Due: none

ci: disable lifecycle scripts when installing the build tool
  .github/workflows/lint.yml
Due: none

test: export scroll type fixtures without void sentinels
  tests/types/scroll-exports.ts
Due: none

fix: keep scrolling paused after near-bottom interruptions
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: preserve legacy scroll dependency values
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

fix: release keyboard focus when the scroll button hides
  src/components/MarkdownFlow/ScrollToBottomButton.test.tsx
  src/components/MarkdownFlow/ScrollToBottomButton.tsx
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
Due: eslint, prettier

ci: verify public type exports after building the package
  .github/workflows/lint.yml
Due: none

test: wait for scroll button visibility to commit
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
Due: eslint, prettier

fix: preserve smooth scrolling across rerenders
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier

test: bound the smooth scroll completion wait
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
Due: eslint, prettier

ci: verify the pinned package manager integrity
  .github/workflows/lint.yml
Due: none

fix: keep following when content grows before scroll events
  src/components/MarkdownFlow/ScrollToBottomControl.stories.tsx
  src/components/MarkdownFlow/useScrollToBottom.lifecycle.test.tsx
  src/components/MarkdownFlow/useScrollToBottom.ts
Due: eslint, prettier
