Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

ci:
  skip: [eslint] # Skip ESLint hooks in pre-commit.ci since it does not work
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: ^pnpm-lock\.yaml$
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: ^pnpm-lock\.yaml$
      - id: trailing-whitespace
        exclude: ^pnpm-lock\.yaml$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
        additional_dependencies: ["markupsafe==2.0.1"]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: prettier
        name: Prettier
        entry: prettier
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
        args: ["--write"]
        additional_dependencies: ["prettier@^3.5.3"]
        pass_filenames: true

feat: i18n
  package.json
  pnpm-lock.yaml
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: base ui
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: support youtube video & change style
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VideoInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: add image upload
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/index.ts
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/uploadTypes.ts
  src/components/MarkdownFlowEditor/utils/image.ts
Due: eslint, prettier

feat: add VariableSelect
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
Due: eslint, prettier

feat: spilt the placehoder to plugins from utils.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/plugins/ImgPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/plugins/VideoPlaceholder.ts
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: render variable
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/CustomDialog.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/plugins/VariablePlaceholder.ts
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: add i18n for VariableSelect
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/utils.ts
  src/styles/globals.css
Due: eslint, prettier

feat: add popover
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/ui/popover.tsx
Due: eslint, prettier

feat: add CustomPopover
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/CustomPopover.tsx
  src/components/MarkdownFlowEditor/components/VariableSelect.tsx
  src/components/MarkdownFlowEditor/editor-context.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

feat: add pkg
  package.json
  pnpm-lock.yaml
Due: none

feat: image add loading & hover
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
Due: eslint, prettier

fix: pr advice
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/MarkdownFlow.stories.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

feat: version
  package.json
Due: none

fix
  src/components/ContentRender/ContentRender.tsx
Due: eslint, prettier

feat: support custom button after content (#39)
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/MarkdownFlow.stories.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

feat: version (#40)
  package.json
Due: none

feat: support custom button after content (#39)
  package-lock.json
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/ContentRender.tsx
  src/components/MarkdownFlow/MarkdownFlow.stories.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

feat: i18n
  package.json
Due: none

feat: translate image value & add fixed text feature
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/FixedTextPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/ImgPlaceholder.ts
  src/components/MarkdownFlowEditor/plugins/PlaceholderWidget.ts
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

style: fixed text
  src/components/MarkdownFlowEditor/components/ImageInject.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

feat: add divider shortcut
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/assets/icon_fixedText.svg
  src/components/MarkdownFlowEditor/assets/icon_image.svg
  src/components/MarkdownFlowEditor/assets/icon_line.svg
  src/components/MarkdownFlowEditor/assets/icon_operation.svg
  src/components/MarkdownFlowEditor/assets/icon_variable.svg
  src/components/MarkdownFlowEditor/assets/icon_video.svg
  src/components/MarkdownFlowEditor/assets/line_header.svg
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/DividerPlaceholder.ts
  src/components/MarkdownFlowEditor/types.ts
  src/components/MarkdownFlowEditor/utils.ts
Due: eslint, prettier

feat: raw add multi select support
  pnpm-lock.yaml
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/ContentRender/utils/custom-variable-props.ts
Due: eslint, prettier

build(package): updated version number to 0.1.17
  package.json
Due: none

Aichy/multi selection interaction to main (#41)
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/plugins/CustomVariable.tsx
  src/components/ContentRender/utils/custom-variable-props.ts
  src/components/MarkdownFlow/MarkdownFlow.tsx
Due: eslint, prettier

feat: support custom button after content (#39)
  package.json
Due: none

feat: support custom button after content (#39)
  package-lock.json
Due: none

feat: add pkg
  package.json
Due: none

style: delete max-width
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

style: editor
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

style: ui & placeholder
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/locales/en-US.json
  src/components/MarkdownFlowEditor/locales/zh-CN.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: eslint, prettier

style: width & height
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

style: overflow
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: export editMode
  package.json
  src/components/MarkdownFlowEditor/index.ts
Due: eslint, prettier

fix: export
  package.json
  src/components/index.ts
Due: eslint, prettier

fix: export
  package.json
  src/index.ts
Due: eslint, prettier
