Repository ai-shifu/markdown-flow-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'npm run lint -- --fix --max-warnings 20 --file $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.5.3
  pass_filenames: true

feat: highlight markdown-flow
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: enforce unified color for fixed output highlights
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

refactor: enforce non-overlapping syntax decorations in editor
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

feat: highlight markdown-flow (#83)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

feat: version
  package.json
Due: none

feat: update version (#84)
  package.json
Due: none

fix: validate variable highlighting inside control blocks
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: validate variable highlighting inside control blocks (#85)
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: require multiline fixed markers to be on dedicated lines
  package.json
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: require multiline fixed markers to be on dedicated lines (#86)
  package.json
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: align control block highlighting with variable validation and new colors
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

fix: align control block highlighting with variable validation and new colors (#87)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.ts
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/plugins/SyntaxHighlighter.ts
Due: eslint, prettier

chore: restore orange styling for options and button text
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

chore: restore orange styling for options and button text (#88)
  package.json
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: switch content render font to source serif 4
  package.json
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

feat: use charter
  package.json
  src/components/ContentRender/contentRender.css
Due: prettier

feat: update ui
  package.json
Due: none

fix
  package.json
Due: none

* feat: switch content render font to Charter (#89)
  package.json
  src/components/ContentRender/contentRender.css
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
Due: prettier

fix: align code block header font with editor
  package.json
  src/components/ContentRender/CodeBlock.css
Due: prettier

fix: align code block header font with editor (#90)
  package.json
  src/components/ContentRender/CodeBlock.css
Due: prettier

feat: add toolbar right slot and editor api hooks
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/index.ts
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

chore: add toolbar right slot icon example
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
Due: eslint, prettier

fix: refine editor right toolbar slot layout and tooltip
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

chore: extend toolbar right slot story with modal insert example
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
Due: eslint, prettier

fix: pr advice
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
Due: eslint, prettier

feat: add toolbar right slot and editor api hooks (#91)
  package.json
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.stories.tsx
  src/components/MarkdownFlowEditor/MarkdownFlowEditor.tsx
  src/components/MarkdownFlowEditor/components/EditorToolbar.tsx
  src/components/MarkdownFlowEditor/index.ts
  src/components/MarkdownFlowEditor/markdownFlowEditor.css
  src/components/MarkdownFlowEditor/types.ts
Due: eslint, prettier

perf(build): split editor/renderer entries to reduce bundle size
  package.json
  src/editor.ts
  src/index.ts
  src/renderer.ts
  vite.config.js
Due: eslint, prettier

fix: export package
  package.json
Due: none

fix: ui
  package.json
Due: none

fix: version
  package.json
Due: none

perf(build): split editor/renderer entries to reduce bundle size (#92)
  package.json
  src/editor.ts
  src/index.ts
  src/renderer.ts
  vite.config.js
Due: eslint, prettier

feat: center contentRender img
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/MermaidChart.tsx
Due: eslint, prettier

feat: center table
  src/components/ContentRender/contentRender.css
Due: prettier

feat: center contentRender img & table (#93)
  package.json
  src/components/ContentRender/ContentRender.stories.ts
  src/components/ContentRender/contentRender.css
  src/components/ContentRender/plugins/MermaidChart.tsx
Due: eslint, prettier

fix: keep custom render bar left aligned
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

fix: keep custom render bar left aligned (#94)
  package.json
  src/components/ContentRender/ContentRender.tsx
  src/components/ContentRender/contentRender.css
Due: eslint, prettier

Path conditions:
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|json)$
